/*============================================================================
  #General Variables
==============================================================================*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@font-face {
  font-family: 'NantesTrial';
  src: url("../fonts/NantesTrialWeb-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NantesTrialWeb-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NantesTrialWeb-Light.woff2") format("woff2"), url("../fonts/NantesTrialWeb-Light.woff") format("woff"); }

@font-face {
  font-family: 'Nimbus';
  src: url("../fonts/NimbusSanL-Reg.otf");
  /* IE9 Compat Modes */ }

/*============================================================================
  #menu
==============================================================================*/
nav a {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 5.625em;
  overflow: hidden;
  top: 5px; }

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; }
  .button_container:hover {
    opacity: 1; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #222; }
  .button_container.active .middle {
    opacity: 0;
    background: #222; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #222; }
  .button_container span {
    background: #222;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #D1CFCD;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 33%;
      height: calc(100% / 3);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #222;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          content: url("../images/menu_arrow.svg");
          position: block;
          width: 30px;
          height: 50px; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/*============================================================================
  #In Action
==============================================================================*/
body {
  font-family: "Nimbus", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1 {
  display: block;
  font-family: "NantesTrial", serif;
  font-weight: 300;
  margin-bottom: 80px;
  font-size: 3.875em;
  line-height: 1.16em; }

.header_text {
  font-size: 4em;
  text-align: center; }

h2 {
  font-size: 2.375em;
  font-weight: normal;
  line-height: 1.13em;
  margin-bottom: 80px; }

h3 {
  font-size: 1.125em; }

p.large {
  font-size: 1.875em; }

p.medium {
  font-size: 1.375em; }

p, a {
  font-size: 16px; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  transition: all .4s ease-out;
  letter-spacing: .1em; }

a:hover {
  letter-spacing: .5em; }

li.large {
  font-size: 1.875em; }

li.medium {
  font-size: 1.375em; }

li {
  font-size: 16px; }

blockquote {
  font-family: "NantesTrial", serif;
  font-size: 5.625em;
  line-height: 1.13;
  margin: 0px; }
  blockquote p {
    margin-bottom: 0; }
    blockquote p + cite {
      margin-top: 80px; }
  blockquote cite {
    display: block;
    font-size: 16px;
    margin-top: 80px;
    font-family: "Nimbus", sans-serif;
    font-style: normal;
    text-transform: uppercase; }

.primaryWhite {
  color: #FFFFFF; }

.secondaryPink {
  background-color: #C78D8D; }

.secondaryGreen {
  background-color: #81876E; }

.secondaryOrange {
  background-color: #C8684C; }

.secondaryLilac {
  background-color: #BECCE1; }

.secondaryYellow {
  background-color: #DAC047; }

.secondaryGray {
  background-color: #D1CFCD; }

picture img {
  width: 100%;
  height: auto;
  display: block; }

.header_background {
  background: url("../images/home_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 798px; }

.philosophy_background {
  background-image: url("../images/philosohpy_flower.png");
  background-size: 50%;
  background-repeat: no-repeat; }

.philosophy_background_page {
  background: url("../images/philosohpy_flower.png");
  background-size: 70%;
  background-repeat: no-repeat; }

.elixir_background {
  background-image: url("../images/elixirs_flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right; }

.visit_background {
  background-image: url("../images/visit_flower.png");
  background-size: 50%;
  background-repeat: no-repeat; }

.secret_message_home {
  background-image: url("../images/home_secret.png");
  background-size: cover; }

.secret_message_philosophy {
  background: url("../images/philosophy_secret.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.water {
  background: url("../images/water.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px; }

.nature_knows_best_img {
  z-index: 50; }

li {
  list-style: none;
  line-height: 2.5; }

li.secondary {
  line-height: 1.5; }

li.secondary a {
  text-transform: none; }

li:first-child {
  margin-top: 20px; }

ul {
  padding-left: 0px; }

footer {
  padding-top: 160px; }

footer .border {
  border-top: 1px solid #D1CFCD; }

footer .secondary_footer {
  padding-left: 40px; }

.right {
  float: right; }

.home_links {
  margin-top: 50px; }

.sidebar {
  width: 10%;
  height: 25vh;
  min-height: 50px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  background-color: #FFFFFF; }

.main {
  width: 110%;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  background-color: #C78D8D; }

.wrapper {
  display: flex;
  justify-content: space-between; }

.bottom {
  justify-self: bottom; }

.white {
  background-color: #FFFFFF; }

.philosophy_intro {
  padding-top: 80px;
  padding-bottom: 80px; }

.overlap_earthly_pleasures, .overlap_downtime {
  display: grid;
  grid-template-columns: repeat(5, 20%); }

.overlap_earthly_pleasures__items:first-of-type {
  grid-column: 1/ span 4;
  grid-row: 1/ span 2; }

.overlap_earthly_pleasures__items:last-of-type {
  grid-column: 3/ span 3;
  grid-row: 2 / span 2; }

.overlap_downtime__items:first-of-type {
  grid-column: 2/ span 3;
  grid-row: 1/ span 2;
  z-index: 51; }

.overlap_downtime__items:last-of-type {
  grid-column: 1/ span 3;
  grid-row: 2/ span 2; }

.dowtime_module {
  padding-top: 80px;
  padding-bottom: 80px; }

.philosophy_module {
  margin-bottom: 80px; }

#absolute {
  position: absolute; }

.quote {
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center; }

h2.quote {
  margin-bottom: 0px; }

.secret_message {
  padding-top: 480px;
  padding-bottom: 20px; }

.nature_heading {
  margin-top: 240px; }

@media (min-width: 576px) {
  .container {
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    max-width: 100%; } }

@media (min-width: 1280px) {
  .container {
    max-width: 100%; }
  .nature_knows_best_img {
    margin-top: 27%; }
  .philosophy_header {
    padding-top: 100px; } }

@media (min-width: 1400px) {
  .container {
    max-width: 100%; }
  .nature_knows_best_img {
    margin-top: 20%; }
  .philosophy_header {
    padding-top: 160px; } }
