/*============================================================================
  #General Variables
==============================================================================*/
// Primary Colors
$primaryBlack: #222;
$primaryWhite: #FFFFFF;
$primaryBlue: #617195;

// Secondary Colors
$secondaryPink: #C78D8D;
$secondaryGreen: #81876E;
$secondaryOrange: #C8684C;
$secondaryLilac: #BECCE1;
$secondaryYellow: #DAC047;
$secondaryGray: #D1CFCD;

// Type
$headerFontStack: 'NantesTrial', serif;

$bodyFontStack: 'Nimbus', sans-serif;
$baseFontSize: 16px; // Henceforth known as 1em

// Space
$baseSpace: 20px;
$gridSpace: $baseSpace * 4;



@font-face {
  font-family: 'NantesTrial';
  src: url('../fonts/NantesTrialWeb-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NantesTrialWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NantesTrialWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/NantesTrialWeb-Light.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Nimbus';
  src: url('../fonts/NimbusSanL-Reg.otf'); /* IE9 Compat Modes */
}




/*============================================================================
  #In Action
==============================================================================*/
// Type
body,
 {
  font-family: $bodyFontStack;
  line-height: 1.5;
  font-size: $baseFontSize;
  color: $primaryBlack;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0px;
}

h1 {
  display: block;
  font-family: $headerFontStack;
  font-weight: 300;
  font-size: 3.875em;
  line-height: 1.16em;
  margin-top: 0px;
}

.header_text{
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 2.375em;
  font-weight: normal;
  line-height: 1.13em;
  margin-bottom: $baseSpace * 4;
}

h3 {
  font-size: 1.125em;
  font-weight: normal;
}

p.large {
  font-size: 1.875em;
}

p {
  font-size: 1.375em;
  line-height: 1.5em;
}

p.small, a {
  font-size: $baseFontSize;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $primaryBlack;
  transition: all .4s ease-out;
  letter-spacing: .1em;
}

a:hover {
  letter-spacing: .3em;
}

// Lists

li.large {
  font-size: 1.875em;
}

li.medium {
  font-size: 1.375em;
}

li {
  font-size: $baseFontSize;
}

// Blockquotes
blockquote {
  font-family: $headerFontStack;
  font-size: 5.625em;
  line-height: 1.13;
  margin: 0px;


  p {
    margin-bottom: 0;

    & + cite {
      margin-top: $baseSpace * 4;
    }
  }

  cite {
    display: block;
    font-size: $baseFontSize;
    margin-top: $baseSpace * 4;
    font-family: $bodyFontStack;
    font-style: normal;
    text-transform: uppercase;
  }
}


// Colors
.primaryWhite {
  color: $primaryWhite;
}
.secondaryPink {
  background-color: $secondaryPink;
}
.secondaryGreen {
  background-color: $secondaryGreen;
}
.secondaryOrange {
  background-color: $secondaryOrange;
}
.secondaryLilac {
  background-color: $secondaryLilac;
}
.secondaryYellow {
  background-color: $secondaryYellow;
}
.secondaryGray {
  background-color: $secondaryGray;
}

.white {
  background-color: $primaryWhite;
}

// Images
img {
  width: 100%;
  height: auto;
  display: block;
}

.svg {
  height: 16px;
  width: 28px;
}

.header_background {
  background: url("../images/home_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 798px;
}

.philosophy_background {
  background-image: url("../images/philosohpy_flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.philosophy_background_page {
  background: url("../images/philosohpy_flower.png");
  background-size: 70%;
  background-repeat: no-repeat;
}

.visit_background_page {
  background: url("../images/visit_flower.png");
  background-size: 70%;
  background-repeat: no-repeat;
}

.elixir_background {
  background-image: url("../images/elixirs_flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

.visit_background {
  background-image: url("../images/visit_flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.secret_message_home {
  background-image: url("../images/home_secret.png");
  background-size: cover;
}

// list
li {
  list-style: none;
  line-height: 2.5;
}

li.secondary {
  line-height: 1.5;
}

li.secondary a {
  text-transform: none;
}

li:first-child {
  margin-top: $baseSpace;
}

ul {
  padding-left: 0px;
}

//layout

.green_box {
  background-color: $secondaryGreen;
  height: 15vh;
  width: 30vw;
  top: 0%;
}

.blue_box {
  grid-column: 7/ span 3;
  background-color: $secondaryLilac;
  height: 10vh;
  width: 30vw;
  top: 0%;
}

.pink_box {
  grid-column: 4/ span 3;
  grid-row: 10 / span 5;
  background-color: $secondaryPink;
  height: 15vh;
  width: 30vw;
  bottom: 0%;
}

footer .border {
  border-top: 1px solid $secondaryGray;
}

footer .secondary_footer {
  padding-left: $baseSpace * 2;
}


.right {
  float: right;
}

.home_links {
  margin-top: 50px;
}

.sidebar {
  width: 10%;
  height: 25vh;
  min-height: 50px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  background-color: $primaryWhite;
}

.main {
  width: 110%;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  background-color: $secondaryPink;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}


.bottom {
  justify-self: bottom;
}

.white {
  background-color: $primaryWhite;
}

/*============================================================================
  #Nav
==============================================================================*/
$button-height: 30px;
$button-width: 30px;


nav a {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 5.625em;
  overflow: hidden;
  top: 5px;
}

div.home_menu {
  height: 0px;
}

.button_container {
  position: sticky;
  top: 4%;
  left: 96%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;

  &:hover {
    opacity: 1;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $primaryBlack
    }
    .middle {
      opacity: 0;
      background: $primaryBlack;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $primaryBlack;
    }
  }

  span {
  background: $primaryBlack;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $secondaryGray;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 99;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 33%;
      height: calc(100% / 3);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $primaryBlack;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
         &:focus:after,
         &:active:after {
           content: url("../images/menu_arrow.svg");
           position: block;
           width: 30px;
           height: 50px;
         }
        }
      }
    }
  }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/*============================================================================
  #Flex
==============================================================================*/

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-bottom {
  vertical-align: bottom!important;
}

.align-items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

/*============================================================================
  #New Layout using css grid
==============================================================================*/

//// Layout

.grid_container {
  display: grid;
  grid-template-areas: "content content content content content content content content content side" "newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter newsletter" "footer footer footer footer footer footer footer footer footer footer";
  grid-template-columns: repeat(10, 10%);
  grid-gap: 0px;
  height: 100vh;
}

.section {
  display: grid;
  grid-template-columns: repeat(9, 11.1%);
  grid-template-rows: repeat(auto-fill, minmax(80px, 81px));
}

.section-content .section{
  display: grid;
  grid-template-columns: repeat(7, 14.28%);
  grid-template-rows: repeat(auto-fill, minmax(80px, 81px));
}

footer .section {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(auto-fill, minmax(80px, 81px));
}

newsletter .section {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(auto-fill, minmax(80px, 81px));
}

main {
  grid-area: content;
  position: relative;
}

footer {
  grid-area: footer;
}

newsletter {
  grid-area: newsletter;
}


main.pink {
  background-color: $secondaryPink;
}

aside {
  grid-area: side;
  background-color: $primaryWhite;
}

.sidebar {
  grid-column: 10/ span 1;
  grid-row: 1 / span
}

//Overall Text
.page_label {
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: sticky;
  top: 90%;
  padding-left: 60px;
}

// text
.fade {
  opacity: 0;
  transition-duration: .5s;
}

.philosophy_header_heading {
  grid-column: 2/ span 4;
  grid-row: 2 / span 3;
}

.philosophy_paragraph {
  grid-column: 2/ span 4;
  grid-row: 5 / span 3;
}

.intro_text {
  grid-column: 2/ span 5;
  grid-row: 2 / span 2;
  margin-top: $gridSpace;
  margin-bottom: $gridSpace;
}

.philosophy_header {
  padding-top: $gridSpace * 2;
}

.philosophy_intro {
  margin-top: $gridSpace;
}

.header_text_earthly_pleasures {
  grid-column: 6/ span 2;
  grid-row: 1 / span 2;
}

.earthly_pleasure_paragraph {
  grid-column: 7/ span 2;
  grid-row: 5 / span 3;
}

.nature_knows_header {
  grid-column: 2 / span 2;
  grid-row: 13/ span 3;
}

.nature_knows_paragraph {
  grid-column: 3/ span 2;
  grid-row: 2 / span 3;
}

.quote {
  grid-column: 3/ span 5;
  grid-row: 10 / span 3;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}

.newsletter_text {
  grid-column: 2/ span 4;
  grid-row: 3 / span 1;
}

.newsletter_input {
  grid-column: 2/ span 2;
  grid-row: 4 / span 1;
}

.newsletter_arrow {
  grid-column: 4/ span 1;
  grid-row: 4 / span 1;
  border-bottom: 2px solid $primaryBlack;
  display: flex;
  align-items: center;
  justify-content: flex-end;;
  width: 24px;
}

.border_input {
  width: 100%;
}

.awaken_elixir_image {
  align-self: flex-start;
}

.elixir_text_opener {
  grid-column: 2/ span 4;
  grid-row: 5 / span 2;
  z-index: 6;
}




input[type=email] {
  border: none;
  border-bottom: 2px solid $primaryBlack;
  background-color: transparent;
  padding-bottom: $baseSpace;
  margin-top: $baseSpace;
}

input::placeholder {
text-transform: uppercase; /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primaryBlack;
  opacity: 1; /* Firefox */
  text-transform: uppercase;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primaryBlack;
  text-transform: uppercase;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $primaryBlack;
  text-transform: uppercase;
}


// images
.philosophy_elixir{
  grid-column: 7/ span 3;
  grid-row: 1/ span 8;
}

.earthly_pleasures_1 {
  grid-column: 1/ span 4;
  grid-row: 1/ span 8;
}

.earthly_pleasures_2 {
  grid-column: 3/ span 3;
  grid-row: 5 / span 7;
}

.earthly_pleasure_3 {
  grid-column: 8/ span 2;
  grid-row: 10 / span 5;
}

.nature_knows_1 {
  grid-column: 6/ span 3;
  grid-row: 1/ span 7;
  z-index: 2
}

.nature_knows_2 {
  grid-column: 1/ span 9;
  grid-row: 6/ span 10;
  height: 550px;
}

.downtime_1 {
  grid-column: 2/ span 3;
  grid-row: 2/ span 4;
  z-index: 3;
}

.downtime_2 {
  grid-column: 1/ span 3;
  grid-row: 5/ span 7;
}

.header_text_downtime {
  grid-column: 6/ span 3;
  grid-row: 3/ span 3;
}

.downtime_paragraph {
  grid-column: 7/ span 2;
  grid-row: 7/ span 3;
}

.newsletter_image {
  grid-column: 6/ span 6;
  grid-row: 1/ span 6;
}


//footer
 .back_top_arrow {
   grid-column: 2/ span 1;
   grid-row: 2/ span 1;
 }

.footer_main_list {
  grid-column: 6/ span 2;
  grid-row: 2/ span 2;
}

.footer_secondary_list{
  grid-column: 8/ span 2;
  grid-row: 2/ span 2;
  padding-left: $baseSpace;
}

.secret_message {
  grid-column: 1/ span 10;
  grid-row: 6 / span 1;
  text-align: center;
  z-index: 1;
}

.seal_top {
  grid-column: 2/ span 1;
  grid-row: 4/ span 1;
}

.seal_bottom {
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
  z-index: 2;
}

#btt_button:after {
  content: url("../images/arrow_top.svg");
  position: block;
  width: 16px;
  height: 28px;
  cursor: pointer;
}

/*============================================================================
  #footer secret
==============================================================================*/
.static{
  background-color: $primaryWhite;
  position: relative;
  margin-bottom: 75vh;
  padding-top: $gridSpace * 2;
}
.secret{
  max-height: 80vh;
  width: 100%;
  color: #f1f1f1;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

/*============================================================================
  #accordion on the elixir page
==============================================================================*/

ul.need_sections {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.overflow_hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.aside_height {
  height: 103vh;
}

ul.need_sections li {
  // display: flex;
  // align-items: stretch;
  cursor: pointer;
  transition: all .5s ease;
  margin-top: 0px;
  width: 11.08%;
  flex: 1 1 0;
}


ul.need_sections li:hover {
}
ul.need_sections li.active {
  flex: 77.83%;
  cursor: default;
}
ul.need_sections li.active .section-content {
  flex: 4;
  opacity: 1;
  transform: scaleX(1);
}
ul.need_sections li .needs-title {
  flex: 1;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

img.align-self {
  align-self: center;
}

ul.need_sections li .section-title {
  margin: 0;
  white-space: nowrap;
  padding-top: $gridSpace;
  padding-left: $baseSpace * 2;
}

.section-title-closed {
  margin: 0;
  padding: 0;
  color: $primaryBlack;
  top: 92%;
  z-index: 1;
  position: sticky;

  h1 {
    margin: 0;
    transform: rotate(-90deg);
    opacity: 0;
    padding-left: 75px;
  }

}

.show_title {
  opacity: 1;
  animation: fadeInRight 1s ease forwards;
  animation-delay: .35s;
}

.awaken-closed {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.rejuvenate-closed {
  grid-column: 8 / span 1;
  grid-row: 1 / span 1;
}

.unwind-closed {
  grid-column: 9 / span 1;
  grid-row: 1 / span 1;
}

ul.need_sections li .rejuvenate {
  white-space: nowrap;
  padding-top: $baseSpace * 2;
  padding-left: $baseSpace * 2;
  margin-bottom: $gridSpace * 1.125;
}

ul.need_sections li .section-content {
  // flex: 1;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all .5s .1s ease-out;
}

//elixir page patterns
.section-content .section .needs_image {
  grid-column: 1/ span 7;
  grid-row: 1/ span 5;
}

.section-content .section .needs_header {
  grid-column: 2/ span 2;
  grid-row: 2/ span 1;
}

.section-content .section .needs_opening_blurb {
  grid-column: 2/ span 4;
  grid-row: 3/ span 1;
}

.section-content .section .product_image {
  grid-column: 2/ span 5;
  grid-row: 1/ span 8;
}

.section-content .section .carosel_placeholder {
  background-color: $primaryWhite;
  grid-column: 2/ span 5;
  grid-row: 9/ span 2;
  height: 160px;
}

.product_border {
  border-top: 2px solid $primaryBlack;
}

.ingredient_full {
  grid-column: 2/ span 6;
  grid-row: 3/ span 3;
  display: flex;
  align-items: center;
}

.ingredient_list {
  grid-column: 2/ span 2;
  grid-row: 3/ span 3;
  padding-top: 58px;
  padding-bottom: 70px;
}

.ingredient_explainer {
  grid-column: 5/ span 2;
  grid-row: 3/ span 3;
  padding-top: 70px;
  padding-bottom: 70px;

}

.ingredient_list h2 {
  margin-bottom: 0px;
}

.ingredient_list p {
  line-height: 1em;
}

.top_border {
  height: 1px;
  background-color: $primaryBlack;
  grid-column: 2/ span 5;
  grid-row: 2/ span 1;
}

.middle_border {
  width: 1px;
  background-color: $primaryBlack;
  grid-column: 4/ span 1;
  grid-row: 2/ span 5;
  display: flex;
  justify-self: center;
}

.bottom_border {
  height: 1px;
  background-color: $primaryBlack;
  grid-column: 2/ span 5;
  grid-row: 7/ span 1;
  margin-bottom: 80px;
}


//elixir test

.elixir_start {
  height: 103vh;
  position: absolute;
  width: 90vw;
}

.height_awaken {
  grid-column: 1/ span 3;
  grid-row: 1/ span 1;
  height: 103vh;
  transition-property: all;
  transition-duration: .5s;
}

.height_unwind {
  grid-column: 7/ span 3;
  grid-row: 1/ span 1;
  height: 103vh;
  transition-property: all;
  transition-duration: .5s;
}

.offscreen_awaken {
  grid-column: 1/ span 3;
  grid-row: 1/ span 1;
  height: 100px;
}

.offscreen_unwind {
  grid-column: 7/ span 3;
  grid-row: 1/ span 1;
  height: 100px;
}

.awaken_section {
  background-color: $secondaryGreen;
}

.rejuvenate_section {
  background-color: $secondaryPink;
  grid-column: 4/ span 3;
  grid-row: 1/ span 1;
  transition-property: all;
  transition-duration: 1s;
}

.height_rejuvenate_tall {
    height: 103vh;
}

.height_rejuvenate {
    height: 103vh;
}


.white_rejuvenate {
  background-color: $primaryWhite;
  grid-column: 4/ span 3;
  grid-row: 1/ span 1;
  height: 90vh;
  z-index: 1;
}

.unwind_section {
  background-color: $secondaryLilac;
}

.none {
  display: none;

}

div.title {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

div.hide_title {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

figure{
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0em;
}


figure img{
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  width: 100%;
  height: 100%;
}

figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}

/* Video overlay and content */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  /* Allows right click menu on the video */
  background: url("https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-medium-checks.png") left top repeat;
  opacity: 0.3;
}

.jquery-background-video-wrapper {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / span 10;
  grid-row: 1 / span 10;
  height: 100%;
}

.jquery-background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.water_video {
  width: 90%;
}
