/*============================================================================
  #General Variables
==============================================================================*/
// Primary Colors
$primaryBlack: #222;
$primaryWhite: #FFFFFF;
$primaryBlue: #617195;

// Secondary Colors
$secondaryPink: #C78D8D;
$secondaryGreen: #81876E;
$secondaryOrange: #C8684C;
$secondaryLilac: #BECCE1;
$secondaryYellow: #DAC047;
$secondaryGray: #D1CFCD;

// Type
$headerFontStack: 'NantesTrial', serif;

$bodyFontStack: 'Nimbus', sans-serif;
$baseFontSize: 16px; // Henceforth known as 1em

// Space
$baseSpace: 20px;
$gridSpace: $baseSpace * 4;

$button-height: 27px;
$button-width: 35px;



@font-face {
  font-family: 'NantesTrial';
  src: url('../fonts/NantesTrialWeb-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NantesTrialWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NantesTrialWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/NantesTrialWeb-Light.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Nimbus';
  src: url('../fonts/NimbusSanL-Reg.otf'); /* IE9 Compat Modes */
}

/*============================================================================
  #menu
==============================================================================*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);



$button-height: 27px;
$button-width: 35px;


nav a {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 5.625em;
  overflow: hidden;
  top: 5px;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;

  &:hover {
    opacity: 1;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $primaryBlack
    }
    .middle {
      opacity: 0;
      background: $primaryBlack;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $primaryBlack;
    }
  }

  span {
  background: $primaryBlack;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $secondaryGray;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 33%;
      height: calc(100% / 3);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $primaryBlack;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
         &:focus:after,
         &:active:after {
           content: url("../images/menu_arrow.svg");
           position: block;
           width: 30px;
           height: 50px;
         }
        }
      }
    }
  }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/*============================================================================
  #In Action
==============================================================================*/
// Type
body,
 {
  font-family: $bodyFontStack;
  line-height: 1.5;
  font-size: $baseFontSize;
  color: $primaryBlack;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1 {
  display: block;
  font-family: $headerFontStack;
  font-weight: 300;
  margin-bottom: $gridSpace;
  font-size: 3.875em;
  line-height: 1.16em;
}

.header_text{
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 2.375em;
  font-weight: normal;
  line-height: 1.13em;
  margin-bottom: $baseSpace * 4;
}

h3 {
  font-size: 1.125em;
}

p.large {
  font-size: 1.875em;
}

p.medium {
  font-size: 1.375em;
}


p, a {
  font-size: $baseFontSize;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $primaryBlack;
  transition: all .4s ease-out;
  letter-spacing: .1em;
}

a:hover {
  letter-spacing: .5em;
}

// Lists

li.large {
  font-size: 1.875em;
}

li.medium {
  font-size: 1.375em;
}

li {
  font-size: $baseFontSize;
}

// Blockquotes
blockquote {
  font-family: $headerFontStack;
  font-size: 5.625em;
  line-height: 1.13;
  margin: 0px;


  p {
    margin-bottom: 0;

    & + cite {
      margin-top: $baseSpace * 4;
    }
  }

  cite {
    display: block;
    font-size: $baseFontSize;
    margin-top: $baseSpace * 4;
    font-family: $bodyFontStack;
    font-style: normal;
    text-transform: uppercase;
  }
}


// Colors
.primaryWhite {
  color: $primaryWhite;
}
.secondaryPink {
  background-color: $secondaryPink;
}
.secondaryGreen {
  background-color: $secondaryGreen;
}
.secondaryOrange {
  background-color: $secondaryOrange;
}
.secondaryLilac {
  background-color: $secondaryLilac;
}
.secondaryYellow {
  background-color: $secondaryYellow;
}
.secondaryGray {
  background-color: $secondaryGray;
}

// Images
picture img {
  width: 100%;
  height: auto;
  display: block;
}

.header_background {
  background: url("../images/home_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 798px;
}

.philosophy_background {
  background-image: url("../images/philosohpy_flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
}
.philosophy_background_page {
  background: url("../images/philosohpy_flower.png");
  background-size: 70%;
  background-repeat: no-repeat;
}

.elixir_background {
  background-image: url("../images/elixirs_flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

.visit_background {
  background-image: url("../images/visit_flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.secret_message_home {
  background-image: url("../images/home_secret.png");
  background-size: cover;
}

.secret_message_philosophy {
  background: url("../images/philosophy_secret.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.water {
  background: url("../images/water.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.nature_knows_best_img {
  z-index: 50;
}

// list
li {
  list-style: none;
  line-height: 2.5;
}

li.secondary {
  line-height: 1.5;
}

li.secondary a {
  text-transform: none;
}

li:first-child {
  margin-top: $baseSpace;
}

ul {
  padding-left: 0px;
}

//layout
footer {
  padding-top: $gridSpace * 2;
}

footer .border {
  border-top: 1px solid $secondaryGray;
}

footer .secondary_footer {
  padding-left: $baseSpace * 2;
}

.right {
  float: right;
}

.home_links {
  margin-top: 50px;
}

.sidebar {
  width: 10%;
  height: 25vh; // experiment with this value, try changing to 110vh
  min-height: 50px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  background-color: $primaryWhite;
}

.main {
  width: 110%;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  background-color: $secondaryPink;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}


.bottom {
  justify-self: bottom;
}

.white {
  background-color: $primaryWhite;
}

.philosophy_intro {
  padding-top: $gridSpace;
  padding-bottom: $gridSpace;

}

.overlap_earthly_pleasures, .overlap_downtime {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.overlap_earthly_pleasures__items:first-of-type {
  grid-column: 1/ span 4;
  grid-row: 1/ span 2;
}

.overlap_earthly_pleasures__items:last-of-type {
  grid-column: 3/ span 3;
  grid-row: 2 / span 2;
}

.overlap_downtime__items:first-of-type {
  grid-column: 2/ span 3;
  grid-row: 1/ span 2;
  z-index: 51;
}

.overlap_downtime__items:last-of-type {
  grid-column: 1/ span 3;
  grid-row: 2/ span 2;
}

.dowtime_module {
  padding-top: $gridSpace;
  padding-bottom: $gridSpace;
}

.philosophy_module {
  margin-bottom: $gridSpace;
}

#absolute {
  position: absolute;
}

.quote {
  color: $primaryWhite;
  text-transform: uppercase;
  text-align: center;
}

h2.quote {
  margin-bottom: 0px;
}

.secret_message {
  padding-top: $gridSpace * 6;
  padding-bottom: $baseSpace;
}

.nature_heading {
  margin-top: $gridSpace * 3;
}

// media queries

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 100%;
  }

  .nature_knows_best_img {
    margin-top: 27%;
  }

  .philosophy_header {
    padding-top: 100px;
  }
}

//Desktop

@media (min-width: 1400px) {
  .container {
    max-width: 100%;
  }

  .nature_knows_best_img {
    margin-top: 20%;
  }

  .philosophy_header {
    padding-top: $gridSpace * 2;
  }

}
